
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>+  Giá cước: (chọn gói internet) + (chọn gói truyền hình) - 20.000 đồng = (cước phải trả hàng tháng)</p>
<table class="table table-bordered  text-center">
    <thead>
        <tr class="bg-orange">
            <th class=" text-center">Gói cước SD</th>
            <th class=" text-center">Cước (đ/tháng)</th>
            <th class=" text-center">Gói cước HD</th>
            <th class=" text-center">Cước (đ/tháng)</th>
        </tr>
    </thead>
    <tbody>
        <tr><td class="bg-grey" colspan="4">Hạ tầng ADSL</td></tr>
        <tr>
            <td>F7 VOD</td>
            <td>195.000</td>
            <td>F7 PremiumHD</td>
            <td>255.000</td>
        </tr>       
        <tr>
            <td>F6 VOD</td>
            <td>215.000</td>
            <td>F6 PremiumHD</td>
            <td>275.000</td>
        </tr> 
        <tr><td class="bg-grey" colspan="4">Hạ tầng GPON</td></tr>
        <tr>
            <td>F7 VOD</td>
            <td>210.000</td>
            <td>F7 PremiumHD</td>
            <td>270.000</td>
        </tr>            
        <tr>
            <td>F6 VOD</td>
            <td>230.000</td>
            <td>F6 PremiumHD</td>
            <td>290.000</td>
        </tr>

        <tr>
            <td>F5 VOD</td>
            <td>250.000</td>
            <td>F5 PremiumHD</td>
            <td>310.000</td>
        </tr>

        <tr>
            <td>F4 VOD</td>
            <td>290.000</td>
            <td>F4 PremiumHD</td>
            <td>350.000</td>
        </tr>

        <tr>
            <td>F3 VOD</td>
            <td>340.000</td>
            <td>F3 PremiumHD</td>
            <td>400.000</td>
        </tr>

        <tr>
            <td>F2 VOD</td>
            <td>390.000</td>
            <td>F2 PremiumHD</td>
            <td>450.000</td>
        </tr>

    </tbody>
</table>

<p>+ Thiết bị kèm theo: 01 Modem wifi 4 ports + 01 Bộ giải mã HD Box.</p>
<p>
    + Hình thức thanh toán:
    <ul>
        <li>Trả sau từng tháng: Phí hòa mạng 600.000 đồng.</li>
        <li> Trả trước 6 tháng: Phí hòa mạng 300.000 đồng.</li>
        <li>Trả trước 1 năm: <span class="text-bold text-danger">Miễn phí hòa mạng + Miễn cước 2 tháng thứ 13, 14.</span></li>
    </ul>
</p>