
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Giới Thiệu</h4>
<p>Truyền hình FPT là sản phẩm tích hợp công nghệ giải trí hiện đại và thông minh nhất, được cung cấp bởi FPT Telecom, truyền hình FPT sẽ truyền tải đến nhà bạn một hệ thống thông tin giải trí phong phú.</p>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">Truyền Hình HD</div>
            <div class="panel-body">
                <ul>
                    <li>Trên 180 kênh Truyền hình đặc sắc trong và ngoài nước, trong đó bao gồm hơn 30 kênh HD.</li>
                    <li>Tận hưởng các trận cầu siêu kinh điển gay cấn trên K+ HD; Xem truyền hình với hình ảnh cực nét, chất lượng vượt trội qua các kênh VTC HD, VTV Cab HD…</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/TruyenHinhHD.png" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="~/Content/images/KhoPhim.png" />        
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Kho Phim</div>
            <div class="panel-body">
                <ul>
                    <li>Kho phim khổng lồ, đa dạng với nhiều thể loại và đặc biệt được cập nhật liên tục đạt chuẩn HD, âm thanh sống động 5.1, giúp bạn có thể thưởng thức những bộ phim yêu thích một cách thoải mái vào bất cứ lúc nào bạn thích.</li>
                    <li>Tính năng tìm phim theo tựa đề sẽ giúp Khách hàng dễ dàng chọn lựa và xem phim theo nhu cầu tốt nhất.</li>
                    <li>Khách hàng có thể sử dụng những tính năng cực kỳ hữu ích như: tính năng Giám sát trẻ em và tính năng lựa chọn ngôn ngữ, audio (mutil sub, mutil audio).</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">Movie Finder</div>
            <div class="panel-body">
                Kết nối trực tuyến với kho phim HD khổng lồ trên Internet giúp bạn vừa tải, vừa xem phim trực tuyến ngay trên TV nhà mình thật dễ dàng, tiện lợi và thoải mái hơn bao giờ hết.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/MovieFinder.png" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="~/Content/images/ChuyenMucTheThao.png" />
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">Kho Phim</div>
            <div class="panel-body">
                <ul>
                    <li>Với truyền hình FPT khán giả thật sự sẽ có một trải nghiệm thể thao đỉnh cao hoàn toàn khác biệt, truyền hình FPT đã mua bản quyền phát sóng thể thao tất cả các trận Ngoại Hạng Anh và nhiều môn thể thao khác như Tennis, Billard, Golf... Khán giả có thể chủ động xem 8 trận đấu Ngoại hạng Anh cùng 1 lúc với chất lượng âm thanh tuyệt hảo và bình luận chuẩn quốc tế</li>
                    <li>Tính năng Luyện tập trong Mục Thể Thao. Truyền hình FPT mang đến những bài tập thể thao như: Yoga, bóng đá… giúp người xem có thể rèn luyện thể dục thể thao tại nhà qua những video hướng dẫn do Truyền hình FPT cung cấp và liên tục cập nhật.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Kho Ứng Dụng</div>
        <div class="panel-body">
            <ul>
                <li>Các ứng dụng tích hợp từ các dịch vụ được hàng tỉ người dùng trên thế giới ưa chuộng như Youtube, … mang đến cho người dùng một cảm nhận mới lạ và lý thú khi chia sẻ hình ảnh/video... với người thân, bạn bè. Đặc biệt, ứng dụng ca hát KaraTivi sẽ đem đến cho bạn và gia đình giây phút thư giãn tuyệt vời.</li>
                <li>Sử dụng thiết bị di động (điện thoại thông minh, máy tính bảng) chạy hệ điều hành Android hay IOS để điều khiển Truyền hình FPT qua ứng dụng Remote rất thuận tiện, nhất là khi tìm kiếm nội dung. Có thể phát các nội dung cần điều khiển truyền thống.</li>
            </ul>
        </div>
    </div>
    <p class="text-center"><img src="~/Content/images/KhoPhimUngDung.png" /></p>
</div>