@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    + Giá cước:
    <ul>
        <li>VOD: <span class="text-danger text-bold">80.000 </span> đồng/tháng</li>
        <li> PremiumHD: <span class="text-danger text-bold">140.000</span> đồng/tháng</li>
    </ul>
</p>

<p>
    + Thiết bị kèm theo: 01 Bộ giải mã HD Box.
</p>

<p>
    + Hình thức thanh toán:
    <ul>
        <li>Trả sau từng tháng: Phí hòa mạng 600.000 đồng.</li>
        <li>Trả trước 6 tháng: Phí hòa mạng 600.000 đồng + Tặng 1 tháng cước thứ 7</li>
        <li> Trả trước 1 năm gói Premium hoặc 20 tháng gói VOD: Miễn phí hòa mạng.</li>
    </ul>
</p>

<p>+ Mỗi tivi sử dụng 1 Box, 600.000 đồng/Box, 3 Box/cước.</p>