<p><b>FTTH - Cáp Quang Fiber Business</b> Tốc độ 35Mbps (dùng từ 1 đến 20 máy tính ). Công nghệ FTTH đường dây cáp quang - miễn nhiễm với thời tiết.</p>
<ul>
    <li>Trang bị miễn phí modem quang ( có chức năng wifi )</li>
    <li>Cước Phí trọn gói : 700.000/tháng.</li>
    <li>Phí Hòa Mạng : 1.000.000 vnđ.</li>
    <li>Thời gian triển khai dịch vụ trong vòng 2 đến 3 ngày</li>
</ul>

<h4>Bảng giá gói dịch vụ Cáp Quang Fiber Business</h4>
<table class="table table-bordered text-center">
    <thead>
        <tr class="bg-orange">
            <th class="text-center">Trả trước 6 tháng</th>
            <th class="text-center">Trả trước 12 tháng</th>
        </tr>
    </thead>
    <tbody>
        <tr><td class="bg-grey" colspan="2">Miễn phí hòa mạng</td></tr>
        <tr><td class="bg-grey" colspan="2">Miễn phí lắp đặt</td></tr>
        <tr><td class="bg-grey" colspan="2">Trang bị free IP tĩnh</td></tr>
        <tr>
            <td>Cước hàng tháng: 700.000 x 6 = 4.200.000 (VND/tháng)</td>
            <td>Cước hàng tháng: 700.000 x 12 = 8.400.000 (VND/tháng)</td>
        </tr>
        <tr>
            <td>Tặng 500.000 trong 6 tháng</td>
            <td>Tặng 500.000 trong 12 tháng</td>
        </tr>
        <tr>
            <td></td>
            <td><b>Tặng tháng cước thứ 13.</b></td>
        </tr>
    </tbody>
</table>
<h4>Điều kiện đăng kí mới:</h4>
<ul>
    <li>Giấy phép kinh doanh</li>
    <li>Giấy CMND Người đại diện công ty</li>
</ul>

