<p>FTTH là công nghệ kết nối viễn thông hiện đại trên thế giới với đường truyền dẫn hoàn toàn bằng cáp quang từ nhà cung cấp dịch vụ tới tận địa điểm của khách hàng. Tính ưu việt của công nghệ cho phép thực hiện tốc độ truyền tải dữ liệu internet xuống/lên (download/upload) ngang bằng với nhau, và tốc độ cao hơn công nghệ ADSL gấp nhiều lần.</p>

<p class="text-center"><img src="~/Content/images/ftth.jpg>" alt="ftth" /></p>