<table class="table table-bordered text-center">
    <thead>
        <tr class="bg-orange">
            <th class=" text-center" rowspan="2">Thiết bị</th>
            <th class=" text-center" rowspan="2">Gói DV</th>
            <th class=" text-center" rowspan="2">Gói dịch vụ và hình thức thanh toán</th>
            <th class=" text-center" colspan="3">Ưu đãi</th>
        </tr>
        <tr class="bg-orange">
            <th>Trả sau</th>
            <th>Trả trước 6 tháng</th>
            <th>Trả trước 12 tháng</th>
        </tr>
    </thead>
   <tbody>
       <!-- F7 6Mbps-->
       <tr>
           <td rowspan="30">Free Modem Wifi 4 port FTTH</td>
           <td rowspan="5" >F7 6Mbps</td>
           <td>Phí hòa mạng</td>
           <td>220.000</td>
           <td>0</td>
           <td>0</td>           
       </tr>

       <tr>           
           
           <td>Số tiền được trừ/tháng</td>
           <td>150.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>
           <td>Số tiền được trừ/tháng</td>
           <td>165.000</td>
           <td>165.000</td>
           <td>165.000</td>
       </tr>

       <tr class="text-bold">
           <td>Tổng số tiền đóng ban đầu</td>
           <td>220.000</td>
           <td>990.000</td>
           <td>1.848.000</td>
       </tr>

       <tr class="divider-row">
           <td>Ưu đãi đặc biệt</td>
           <td>Không</td>
           <td>Tặng 1 tháng cước</td>
           <td>Tặng 2 tháng cước</td>
       </tr>

       <!-- F6 10Mbps-->
       <tr>           
           <td rowspan="5">F6 10Mbps</td>
           <td>Phí hòa mạng</td>
           <td>220.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>

           <td>Số tiền được trừ/tháng</td>
           <td>170.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>
           <td>Số tiền phải đóng</td>
           <td>187.000</td>
           <td>187.000</td>
           <td>176.000</td>
       </tr>

       <tr class="text-bold">
           <td>Tổng số tiền đóng ban đầu</td>
           <td>220.000</td>
           <td>1.122.000</td>
           <td>2.112.000</td>
       </tr>

       <tr class="divider-row">
           <td>Ưu đãi đặc biệt</td>
           <td>Không</td>
           <td>Tặng 1 tháng cước</td>
           <td>Tặng 2 tháng cước</td>
       </tr>

       <!-- F5 16Mbps-->
       <tr>
           <td rowspan="5">F5 16Mbps</td>
           <td>Phí hòa mạng</td>
           <td>110.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>

           <td>Số tiền được trừ/tháng</td>
           <td>190.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>
           <td>Số tiền phải đóng</td>
           <td>209.000</td>
           <td>209.000</td>
           <td>198.000</td>
       </tr>

       <tr class="text-bold">
           <td>Tổng số tiền đóng ban đầu</td>
           <td>110.000</td>
           <td>1.254.000</td>
           <td>2.376.000</td>
       </tr>

       <tr class="divider-row">
           <td>Ưu đãi đặc biệt</td>
           <td>Không</td>
           <td>Tặng 1 tháng cước</td>
           <td>Tặng 2 tháng cước</td>
       </tr>

       <!-- F4 22Mbps-->
       <tr>
           <td rowspan="5">F4 22Mbps</td>
           <td>Phí hòa mạng</td>
           <td>110.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>

           <td>Số tiền được trừ/tháng</td>
           <td>210.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>
           <td>Số tiền phải đóng</td>
           <td>231.000</td>
           <td>231.000</td>
           <td>220.000</td>
       </tr>

       <tr class="text-bold">
           <td>Tổng số tiền đóng ban đầu</td>
           <td>110.000</td>
           <td>1.386.000</td>
           <td>2.640.000</td>
       </tr>

       <tr class="divider-row">
           <td>Ưu đãi đặc biệt</td>
           <td>Không</td>
           <td>Tặng 1 tháng cước</td>
           <td>Tặng 2 tháng cước</td>
       </tr>

       <!-- F3 27Mbps-->
       <tr>
           <td rowspan="5">F3 27Mbps</td>
           <td>Phí hòa mạng</td>
           <td>110.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>

           <td>Số tiền được trừ/tháng</td>
           <td>280.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>
           <td>Số tiền phải đóng</td>
           <td>308.000</td>
           <td>308.000</td>
           <td>297.000</td>
       </tr>

       <tr class="text-bold">
           <td>Tổng số tiền đóng ban đầu</td>
           <td>110.000</td>
           <td>1.848.000</td>
           <td>3.564.000</td>
       </tr>

       <tr class="divider-row">
           <td>Ưu đãi đặc biệt</td>
           <td>Không</td>
           <td>Tặng 1 tháng cước</td>
           <td>Tặng 2 tháng cước</td>
       </tr>

       <!-- F2 32Mbps-->
       <tr>
           <td rowspan="5">F2 32Mbps</td>
           <td>Phí hòa mạng</td>
           <td>110.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>

           <td>Số tiền được trừ/tháng</td>
           <td>330.000</td>
           <td>0</td>
           <td>0</td>
       </tr>

       <tr>
           <td>Số tiền phải đóng</td>
           <td>360.000</td>
           <td>360.000</td>
           <td>352.000</td>
       </tr>

       <tr class="text-bold">
           <td>Tổng số tiền đóng ban đầu</td>
           <td>110.000</td>
           <td>2.178.000</td>
           <td>4.224.000</td>
       </tr>

       <tr>
           <td>Ưu đãi đặc biệt</td>
           <td>Không</td>
           <td>Tặng 1 tháng cước</td>
           <td>Tặng 2 tháng cước</td>
       </tr>
   </tbody>
</table>
<td></td>