<h4>Bảng giá gói dịch vụ Cáp Quang Fiber Public</h4>
<table class="table table-bordered text-center">
    <thead>
        <tr class="bg-orange">
            <th class="text-center">Trả hằng tháng</th>
            <th class="text-center">Trả trước 6 tháng</th>
            <th class="text-center">Trả trước 12 tháng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Phí hòa mạng: 1.000.000 VND</td>
            <td class="bg-grey" colspan="2">Miễn phí hòa mạng</td>
        </tr>        
        <tr><td class="bg-grey" colspan="3">Trang bị thiết bị: Modem quang, convert quang</td></tr>
        <tr>
            <td></td>
            <td class="bg-grey" colspan="2">Tặng cước mỗi tháng 4.800.000 VND</td>
        </tr>        
    </tbody>
</table>

<p>Nhằm nâng cao chất lượng phục vụ và tạo thuận tiện cho quý khách trong việc đăng ký. Chúng tôi là đội ngũ nhân viên chuyên đăng ký và làm hợp đồng tại nhà <b>"hoàn toàn miễn phí" </b>. Sự quan tâm và được phục vụ quý khách hàng là niềm vinh hạnh cho chúng tôi!</p>

