@{
    ViewBag.Title = "Cáp Đồng - Mega Net - Internet FPT";
}

<div class="page-header">
    <h3>Gói dịch vụ Mega Net</h3>
</div>

<p>Được thiết kế đặc biệt phù hợp đối với khách hàng là doanh nghiệp, với mục tiêu đáp ứng tốt nhất nhu cầu giao dịch thương mại của các doanh nghiệp, FPT Telecom đã xây dựng và triển khai thành công gói dịch vụ MegaNET dành riêng cho doanh nghiệp với rất nhiều ưu điểm:</p>

<ul>
    <li>Tốc độ truy cập Internet nhanh</li>
    <li>Đường truyền ổn định</li>
    <li>Cùng chính sách hỗ trợ kỹ thuật cao nhất</li>
</ul>


<h4>Bảng giá gói dịch vụ Mega Net</h4>
<table class="table table-bordered">
    <thead>
        <tr class="bg-orange">
            <th class=" text-center">Mô tả</th>
            <th class=" text-center">MegaNET</th>
        </tr>
    </thead>
    <tbody>
        <tr><td colspan="2" class="bg-grey text-center">Tốc độ kết nối</td></tr>
        <tr>
            <td>Download</td>
            <td class=" text-center">8.192 Kbps</td>
        </tr>
        <tr>
            <td>Upload</td>
            <td class=" text-center">640 Kbps</td>
        </tr>
        <tr ><td colspan="2" class="bg-grey text-center">Phí khởi tạo dịch vụ và cước phí hàng tháng (VNĐ)</td></tr>
        <tr>
            <td>Cước khuyến mại</td>
            <td class=" text-center">155.000</td>
        </tr>
        <tr>
            <td>Phí hòa mạng</td>
            <td class=" text-center">100.000</td>
        </tr>
    </tbody>
</table>

<p>+ Thiết bị kèm theo: Modem ADSL wifi 4 ports.</p>
<p> + Ưu đãi cho khách hàng trả trước:</p>
<ul>
    <li>Trả trước 6 tháng: Miễn phí hòa mạng + Tặng tháng cước thứ 7</li>
    <li>Trả trước 1 năm: Miễn phí hòa mạng + Tặng tháng cước thứ 13, 14 + Giảm cước thêm 5.000 đồng/tháng/24 tháng</li>
</ul>
<p>+ Khách hàng thuê nhà, trọ: Đặt cọc 300.000 đồng hoặc trả trước 6 tháng trở lên.</p>
<p>Phạm vi lắp đặt: Thành phố Buôn Ma Thuột</p>
