<ul>
    <li>Tốc độ kết nối: 10 Mbps</li>
    <li>Chia sẻ kết nối cùng bạn bè và người thân</li>
    <li>Xem phim HD cực chuẩn</li>
    <li>Game Online thoải mái</li>
</ul>

<p>Đó là những ưu điểm vượt trội của gói dịch vụ MegaME - gói dịch vụ được thiết kế đặc biệt phù hợp cho những Khách hàng có nhu cầu về đường truyền internet cá nhân tốc độ cao, đáp ứng được hầu hết tất cả các yêu cầu kết nối trong môi trường hiện đại.</p>


<h4>Bảng giá gói dịch vụ Mega Me</h4>

<table class="table table-bordered text-center">
    <thead>
        <tr class="bg-orange">
            <th class="text-center" rowspan="2">Thiết bị</th>
            <th class="text-center" rowspan="2">Gói dịch vụ và hình thức thanh toán</th>
            <th class="text-center" colspan="3">Ưu đãi</th>
        </tr>
        <tr class="bg-orange">
            <th class="text-center">Trả sau</th>
            <th class="text-center">Trả trước 6 tháng</th>
            <th class="text-center">Trả trước 12 tháng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="3">Free Modem ADSL wifi 4 ports</td>
            <td>Phí hòa mạng</td>
            <td>100.000</td>
            <td>0</td>
            <td>0</td>
        </tr>

        <tr>
            <td>Cước khuyến mại</td>
            <td>155.000</td>
            <td>155.000</td>
            <td>155.000</td>
        </tr>

        <tr>
            <td>Ưu đãi đặc biệt</td>
            <td>Không</td>
            <td>Tặng 1 tháng cước</td>
            <td><p>Tặng 2 tháng cước </p><p>+ Giảm cước thêm 5.000 đồng/tháng/24 tháng</p></td>
        </tr>

    </tbody>
</table>

<p>+ Khách hàng thuê nhà, trọ: Đặt cọc 300.000 đồng hoặc trả trước 6 tháng trở lên.</p>