<p>Gói dịch vụ MageSave là gói cước phù hợp với các khách hàng cá nhân, hộ gia đình có mức truy cập internet ở mức độ vừa và tiết kiệm tối đa về cước phí. Khi sử dụng gói dịch vụ Mega-Save, khách hàng đồng thời trải nghiệm được những ưu điểm của gói dịch vụ này như:</p>
<ul>
    <li>Tốc độ kết nối: 6 Mbps</li>
    <li>Lướt web, đọc báo thoải mái</li>
    <li>Cước trọn gói cực thấp</li>
</ul>

<h4>Bảng giá gói dịch vụ MegaSave</h4>
<table class="table table-bordered text-center">
    <thead>
        <tr class="bg-orange">
            <th class=" text-center" rowspan="2">Thiết bị</th>
            <th class=" text-center" rowspan="2">Gói dịch vụ và hình thức thanh toán</th>
            <th class=" text-center" colspan="3">Ưu đãi</th>
        </tr>
        <tr class="bg-orange">
            <th class="text-center">Trả sau</th>
            <th class="text-center">Trả trước 6 tháng</th>
            <th class="text-center">Trả trước 12 tháng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="3">Free Modem ADSL wifi 4 ports</td>
            <td>Phí hòa mạng</td>
            <td>200.000</td>
            <td>0</td>
            <td>0</td>
        </tr>

        <tr>
            <td>Cước khuyến mại</td>
            <td>135.000</td>
            <td>135.000</td>
            <td>135.000</td>
        </tr>

        <tr>
            <td>Ưu đãi đặc biệt</td>
            <td>Không</td>
            <td>Tặng 1 tháng cước</td>
            <td><p>Tặng 2 tháng cước </p><p>+ Giảm cước thêm 5.000 đồng/tháng/24 tháng</p></td>
        </tr>

    </tbody>
</table>

<p>+ Khách hàng thuê nhà, trọ: Đặt cọc 300.000 đồng hoặc trả trước 6 tháng trở lên.</p>
